<div class="row mt-1">
  <div class="col first-col">
    <input class=" btn btn-secondary btn-sm js-button-<%= key %>" 
    type="button" 
    value="<%= name %>" />
  </div>
  <div class="col-auto">
  </div>
</div>