<div class="row mt-2">
  <% for (let button of buttons) { %>
    <div class="col">
      <button type="button" data-object="<%= button.object %>" data-function="<%= button.function %>" 
        class="btn btn-primary hide-overflow"><%= button.name %></button>
    </div>
  <% } %>
</div>