<div>
  <%- include('_collapse_controls.ejs', { title:'Files', name: 'file' }); %>
  <%- include('_collapse_controls.ejs', { title: 'Camera Properties', name: 'camera' }); %>
  <%- include('_collapse_controls.ejs', { title: 'Object Properties', name: 'object' }); %>
</div>