<div class="row mt-1 js-numeric-field">
  <div class="col first-col">
    <%= name %>
  </div>
  <div class="col-auto ml-1">
    <input type="text" 
      class="form-control value-text value-number" 
      data-object-name="<%= object %>"
      <% keys.forEach((element, index) => { %>
        data-key<%= index %>="<%= keys[index] %>"
      <% }); %> />
  </div>
</div>