<div class="row mt-2">
  <div class="btn-group" role="group" aria-label="Object Properties Group">
    <input type="checkbox" class="btn-check" 
      id="object_properties_button" autocomplete="off">
    <label class="btn btn-outline-primary" for="object_properties_button">Show Properties</label>
  </div>
</div>
<div id="object_properties"></div>
<%- include ('_button_field.ejs', {key: 'reset-object' , name: 'Reset' }); %>