<div class="container" id="object_properties_template">
  <p>Objekteigenschaften</p>
  <% if (data) { %>
    <%# console.log("Template", data) %>
    <% Object.keys(data).forEach(function(key) { %>
      <%# console.log("Item", key) %>
      <%- renderItem(key, data[key]) %>
    <% }); %>
  <% } else { %>
    <p>- kein Objekt selektiert -</p>
  <% } %>
</div>
