<div id="<%=popoverID%>" class="object-item-properties">
  <form>
    <div class="form-group">
      <% if (object) { %>
        <%# console.log("_print_object", object); %>
        <% Object.keys(object).forEach(function(key) { %>
          <% if (isPresent(object[key])) { %>
            <%# console.log("Item", key); %>
            <%- printItem(key, object[key], popoverID + '_' + key); %>
          <% } %>
        <% }); %>
      <% } else { %>
        <p>- kein Objekt selektiert -</p>
      <% } %>
    </div>
  </form>
</div>