<div id="<%=popoverID%>">
  <form>
    <div class="form-group">
      <% if (data) { %>
        <%# console.log("_print_object", data) %>
        <% Object.keys(data).forEach(function(key) { %>
          <%# console.log("Item", key) %>
          <%- printItem(key, data[key], popoverID + '_' + key) %>
        <% }); %>
      <% } else { %>
        <p>- kein Objekt selektiert -</p>
      <% } %>
    </div>
  </form>
</div>