<div class="row">
  <div class="col-6">
    <%= key %>
  </div>
  <div class="col-6">
    <% if (Array.isArray(value)) { %>
      <%= value %>
    <% } else if (typeof value === 'object') { %>
      <pre><%= JSON.stringify(value, null, 2) %></pre>
    <% } else { %>
      <%= value %>
    <% } %>
  </div>
</div>
