<div id="info-panel"></div>
<script id="info-template" type="text/x-handlebars-template">
  <h3>Objekteigenschaften</h3>
  <p>Name: {{name}}</p>
  <p>Position: {{position}}</p>
  <p>Skalierung: {{scale}}</p>
  <p>Rotation: {{rotation}}</p>
</script>