<script id="info_panel_template" type="text/x-handlebars-template">
  <div><b>Objekteigenschaften</b></div>
  <div>Name: {# name #}</div>
  <div>Position: {# position #}</div>
  <div>Skalierung: {# scale #}</div>
  <div>Rotation: {# rotation #}</div>
</script>