<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="galery_3d.css">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/jquery-ui.css">
</head>

<body>
  <div id="top_area" class="container-fluid top-area">
    <div class="row top-area">
      <div class="col-auto">
        <h2>
          <%= title %>
        </h2>
        <%- include ('partials/_main_controls.ejs'); %>
      </div>
      <div class="col" id="canvas_parent"></div>
    </div>
  </div>
  <script src="./dist/client.bundle.js"></script>
</body>

</html>