<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3D Galery</title>
  <link rel="stylesheet" href="galery_3d.css" />
  <link rel="stylesheet" href="./css/bootstrap.css" />
</head>
<body>
  <div class="container-fluid top-area">
    <div class="row top-area">
      <div class="col-auto">
        <h2>3D Galery</h2>
        <form class="mt-3">
          <input class="form-control" type="file" id="formFile" accept=".stl, .obj, .ply">
        </form>
        <div class="form-check mt-3">
          <input class="form-check-input" type="checkbox" value="" id="wireframe">
          <label class="form-check-label" for="wireframe">
            Wireframe
          </label>
        </div>
        <div id="object_properties"></div>
      </div>
      <div class="col" id="canvas_parent"></div>
    </div>
  </div>
  {{> object-panel }}
  <script src="./dist/client.bundle.js"></script>
</body>
</html>
