html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.top-area{
    height: 100%;
    width:  100%;
}
#canvas_parent{
    overflow: hidden;
    height: 100%;
}
.object-property-value, .object-property-button{
  width: 10ex;
}
.first-col{
  overflow: hidden;
}