html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.top-area{
    height: 100%;
    width:  100%;
}
.row.top-area > div {
  padding-right: 0.1em;
}
#formFile {
  width: 250px;
}
#canvas_parent{
    overflow: hidden;
    height: 100%;
}
.value-text:not(.value-number), .object-property-button{
  width: 8ex;
  padding-block-start: 0px !important;
  padding-block-end: 0px !important;
}
.value-text.value-number {
  width: 5.2ex;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 0.1em;
  margin-right: 1.1em;
}
.value-text, .ui-spinner-button{
  height: 20px;
}
.ui-spinner-button {
  width: 16px !important;
}
.object-property-button{
  width: 8ex;
}
.first-col{
  overflow: hidden;
  padding-top: 2px;
}
.vector-field .col:not(:first-child):not(:last-child) {
  padding-left: 1px;
  padding-right: 1px;
}
.vector-field .col:first-child {
  padding-right: 1px;
}
.vector-field .col:last-child {
  padding-left: 1px;
}
.arrow-parent { 
  display: flex; 
  align-items: center; 
  cursor: pointer; 
}
.collapse-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(9, 78, 189);
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.5s ease;
  line-height: 1;
}
.collapsed .collapse-arrow {
  transform: rotate(-90deg); 
}
.hide-overflow {
  overflow: hidden;
  text-wrap: nowrap;
}