html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.top-area{
    height: 100%;
    width:  100%;
}
#canvas_parent{
    overflow: hidden;
    height: 100%;
}
.value-text:not(.value-number), .object-property-button{
  width: 10ex;
  padding-block-start: 0px !important;
  padding-block-end: 0px !important;
}
.value-text.value-number {
  width: 5.2ex;
}
.value-text, .ui-spinner-button{
  height: 20px;
}
.ui-spinner-button {
  width: 16px !important;
}
.object-property-button{
  width: 10ex;
}
.first-col{
  overflow: hidden;
  padding-top: 4px;
}

